.weekly_plan_index {
  margin-top: 2rem;
}

.weekly_plan_guide {
  border-bottom: 1px solid #dddddd
}

.weekly_plan_card {
  margin-top: 2rem;
}

.solution_title_in_monthly {
  font-size: 18px;
  padding-left: 2rem;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.planning_btn_in_weekly {
  display: block;
  height: 25px;
  width: 45px;
  font-size: 15px;
  padding: 0;
  margin-top: 6px;
  margin-left: 5rem;
}
