.other_user_container {
  margin-top: 50px;
}

/* ここからユーザー情報部分 */
.other_user_img-thumbnail {
  position: relative;
  overflow: hidden;
  margin-right: 1rem;
  height: 250px;
  width: 250px;
  text-align: center;
  border-radius: 50%;
}
.other_user_icon {
  margin-left: auto;
}

.other_user_icon img {
  padding-top: 30px;
}

.default_other_user_icon {
  width: 300px;
  height: 340px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.other_user_name_and_intro {
  margin-right: auto;
}

.other_user_intro_card {
  height: 200px;
  width: 500px;
}

#other_user_self_introduction {
  margin-bottom: 5px;
}

#other_user_nickname {
  margin-bottom: 5px;
}
/* ここまでユーザー情報部分 */
