<div class="container-fluid app_explanation_container">
  <div class="app_explanation_sub_container">
    <!-- <div class="app_explanation_div">
      <h4 class="app_direction_title"><strong>概要</strong></h4>
      <p class="app_direction_p">Pit Inは目標と日々の行動をセットで管理できるアプリケーションです。</p>
      <p class="app_direction_p">目標を達成するためには目標に関連する行動を増やすことが重要です。</p>
      <p class="app_direction_p">しかし、忙しい毎日の中で目標を意識した行動をとるのは難しいもの。</p>
      <p class="app_direction_p">目標と日々の行動をセットで管理して、目標達成に近づく行動を増やしましょう。</p>
    </div>

    <div class="app_direction_div">
      <h4 class="app_direction_title"><strong>特徴</strong></h4>
      <p class="app_direction_p">Pit Inでは、目標に以下の情報が登録できます。</p>
      <li>タイトル</li>
      <li>期間</li>
      <li>目的</li>
      <li>達成するとどうなるか？</li>
      <li>達成できないとどうなるか？</li>
      <p class="app_direction_p">どんな目標であっても、目標達成は難しいもの。</p>
      <p class="app_direction_p">当初の目的や達成後の未来などをイメージすることでモチベーションを回復させたり、先延ばしを防ぐことができます。</p>
    </div> -->

    <div class="app_explanation_div">
      <h4 class="app_direction_title"><strong>目標の作り方</strong></h4>
      <p class="app_direction_p">まずはフォームに沿って目標に関する情報を入力してください。</p>
      <p class="app_direction_p">フォームの後半では、問題、解決案、タスク、ステップを登録します。</p>
      <p class="app_direction_p">目標達成を妨げる要因が問題、その問題を解決するためのアイディアが解決案です。</p>
      <p class="app_direction_p">解決案を実行するための具体的な小さい行動をタスクやステップとして登録しましょう。</p>

    <div class="app_explanation_div">
      <h4 class="app_direction_title"><strong>今月の計画の作り方</strong></h4>
      <p class="app_direction_p">今月の計画ページでは、取組中の目標に紐づく解決案が表示されています。</p>
      <p class="app_direction_p">その中から今月取り組む解決案を設定しましょう。</p>
      <p class="app_direction_p">編集ボタンを押し、編集ページで取組中を選択して更新ボタンを押せば設定完了です。</p>
    </div>

    <div class="app_explanation_div">
      <h4 class="app_direction_title"><strong>今週の計画の作り方</strong></h4>
      <p class="app_direction_p">今週の計画ページでは、「今月取組中の解決案」に紐づくタスクが表示されています</p>
      <p class="app_direction_p">その中から今週取り組むタスクを設定しましょう。</p>
      <p class="app_direction_p">編集ボタンを押し、編集ページで取組中を選択して更新ボタンを押せば設定完了です。</p>
    </div>

    <div class="app_explanation_div">
      <h4 class="app_direction_title"><strong>今日の計画の作り方</strong></h4>
      <p class="app_direction_p">今日の計画ページでは、「今週取組中のタスク」に紐づくステップが表示されています。</p>
      <p class="app_direction_p">その中から今日取り組むステップを設定しましょう。</p>
      <p class="app_direction_p">編集ボタンを押し、編集ページで取組中を選択して更新ボタンを押せば設定完了です。</p>
    </div>

　　<div class="app_explanation_conclusion">
      <p class="app_explanation_conclusion_p">以上で計画は終了です。ToDoページに今日すべきことが表示されているはずです。</p>
      <p class="app_explanation_conclusion_p">さっそく目標達成に向けて行動していきましょう！</p>
    </div>
  </div>
</div>
