.plan_edit_container {
  margin-top: 2rem;
}

.plan_edit_guide {
  border-bottom: 1px solid #dddddd
}

.goal_title_in_edit {
  font-size: 22px;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

.status_edit_select_box {
  font-size: 10px;
  height: 30px;
}

.list_head_in_edit {
  background-color: #DDDDDD;
}

.status_edit_form {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.update_button_div {
  margin-top: 1.5rem;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

#problem_status_selectbox {
  border-top: 1px solid rgba(0,0,0,.125);
}
