.plan_edit_container {
  margin-top: 2rem;
}

.plan_edit_guide {
  border-bottom: 1px solid #dddddd
}

.goal_title_in_edit {
  font-size: 22px;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

.plan_edit_title {
  padding-right: 0;
}

.status_edit_form {
  padding-left: 0;
}

.status_edit_select_box {
  font-size: 10px;
  height: 30px;
}

.status_selectbox {
  padding-top: 9px;
  padding-bottom: 9px;
  margin: 0;
}

.list_head_in_edit {
  background-color: #DDDDDD;
}

.list_head_for_select_box {
  text-align: center;
  font-size: 14px;
}

.plan_save {
  margin-top: 1rem;
}
