<div class="container-fluid today_jobs_index">
  <h4 class="user_index_page_title">ユーザー一覧</h4>
  <div class="row user_card_row">
    <% @users.each do |user| %>
      <div class="col-auto card user_card">
        <div class="row">
          <div class="col-12 user_nickname">
            <h4 class="user_card_nickname"><%= user.nickname %></h4>
          </div>
          <div class="col-9">
            <% user.goals.each do |goal| %>
              <p><%= goal.title %></p>
            <% end %>
            <p>全<%= user.goals.count %>件の目標</p>
          </div>

          <div class="col-3 user_show_button_col">
            <ul class="user_show_button_ul"><%= link_to t('view.button.show'), user, class: "btn btn-outline-secondary user_show_button" %></ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
