.community_index_container {
  margin-top: 2rem;
}

.community_index_guide {
  border-bottom: 1px solid #dddddd
}

.onw_comunity_index {
  margin-top: 2rem;
}

.other_comunity_index {
  margin-top: 2rem;
}

.onw_comunity_each {
  margin-top: 1.5rem;
}

.other_comunity_each {
  margin-top: 1.5rem;
}
