.daily_plan_index {
  margin-top: 2rem;
}

.daily_plan_guide {
  border-bottom: 1px solid #dddddd
}

.goal_title_in_daily {
  font-size: 22px;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

.task_title_in_daily {
  font-size: 18px;
  padding-left: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.planning_btn_in_daily {
  margin-top: 1rem;
  margin-bottom: .5rem;
}
