.goal_title_in_monthly_edit {
  margin-top: 2rem;
}

.monthly_edit_zone {
  margin-top: 2rem;
}

.problem_and_solution_title {
  padding-right: 0;
}

.title_head {
  text-align: center;
}

.problem_and_solution_checkbox {
  padding-left: 0;
}

.select_box_in_planning {
  font-size: 10px;
  height: 30px;
}

.checkbox_title {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.status_selectbox {
  padding-top: 9px;
  padding-bottom: 9px;
  margin: 0;
}

.plan_save {
  margin-top: 1rem;
}
