<div class="container-fluid weekly_plan_index">
  <h4 class="weekly_plan_page_title">今月の計画</h4>
  <small class="weekly_plan_guide">現在取組中の目標とその解決案を表示しています。編集ボタンから今月取り組む解決案を選択してください。</small>

  <% @goals.each do |goal| %>
    <% goal.problems.each do |problem| %>
      <% problem.solutions.each do |solution| %>

        <div class="card weekly_plan_card">
          <div class="row">
            <strong class="card-title solution_title_in_weekly col-8"><%= solution.title %></strong>
            <div class="col-4"><%= link_to '編集', edit_weekly_plan_path(goal), class: "btn btn-outline-primary planning_btn" %></div>
          </div>

          <ul class="list-group list-group-flush">
            <% solution.tasks.each do |task|%>
              <li class="list-group-item task_title_in_weekly"><%= task.title %></li>
            <% end %>
          </ul>
        </div>

      <% end %>
    <% end %>
  <% end %>

</div>
