/* 目標データに関する部分 */
.goal_info_edit {
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 90%;
}

.goal_info_edit_each {
  margin-bottom: 1rem;
  max-width: 100%;
}

.goal_info_edit_each .col-4 {
  padding-right: 0;
}

.goal_info_edit_each label {
  margin-bottom: .2rem;
}

.goal_info_edit_each .col-4 input {
  padding-right: 0;
}

.goal_info_edit_each .col-4 select {
  padding-right: 0;
}

.forms_for_goals_table {
  margin-bottom: 2rem;
}

.form_title {
  margin-top: 20px;
}

/* 問題以下に関する部分 */
.goal_related_info_forms {
  width: 75%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.goal_submit {
  margin-top: 2rem;
}

#problem_form_delete {
  color: #007bff;
}

#problem_form_add {
  color: #007bff;
}

#solution_form_delete {
  color: #dc3545;
}

#solution_form_add {
  color: #dc3545;
}

#task_form_delete {
  color: #ffc107;
}

#task_form_add {
  color: #ffc107;
}

#step_form_delete {
  color: #28a745;
}

#step_form_add {
  color: #28a745;
}
