.goal_card {
  border: 1px solid #C0C0C0;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.goal_badges {
  height: 20px;
  width: 46px;
  font-size: 11px;
  vertical-align: top;
  margin-top: 4px;
  margin-right: 4px;
  padding-top: 4px;
  color: white;
}

.goal_title {
  padding-top: 5px;
  padding-left: 15px;
  margin-bottom: 0;
}

.goal_info {
  padding-inline-start: 20px;
  margin-bottom: 2px;
}

.goal_buttons {
  padding-top: 0.5rem;
  padding-left: .5rem;
  text-align: right;
}

.goal_button_ul {
  margin-bottom: 7px;
}

.goal_button {
  margin-right: 2rem;
}

.csv_export {
  margin-top: 2rem;
  margin-left: 3.6rem;
}

.pagination {
  margin-top: 3rem;
  justify-content:center;
  font-size: 120%;
}
