.serch_form {
  margin-top: 3rem;
  margin-left: 16rem;
  margin-right: 0;
  vertical-align: bottom;
}

.search_form_window {
  display: inline;
  width: 60%;
  margin-top: 1px;
  vertical-align: middle;
}

.search_result_guide {
  margin-top: 2rem;
  margin-left: 2rem;
}

.back_to_shared_goal_button {
  margin-top: 2rem;
  margin-left: 2rem;
}
