.user_info_edit {
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 90%;
}

.user_info_edit_each {
  margin-bottom: 2rem;
  max-width: 100%;
}

.user_info_edit_each label {
  margin-bottom: .2rem;
}

.decide_to_change {
  width: 90%;
  border-top: 1px solid #DDDDDD;
  padding-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 0;
}

#change_confirmation {
  border-top: 1px solid #DDDDDD;
  margin-top: 5rem;
  padding-top: 3rem;
}

#when_change_password_button {
  margin-bottom: 2rem;
}

#collapse_content1 {
  margin-top: 2rem;
}
