.user_container {
  margin-top: 50px;
}

.img-thumbnail {
  margin-right: 1rem;
  height: 250px;
  width: 250px;
  text-align: center;
  border-radius: 50%;
}
.user_icon {
  margin-left: auto;
}

.user_icon img {
  padding-top: 32px;
}

.user_name_and_intro {
  margin-right: auto;
}

.intro_card {
  height: 200px;
  width: 500px;
}

.unregistered_pic {
  margin-top: 6.5rem;
}

#self_introduction {
  margin-bottom: 5px;
}

#nickname {
  margin-bottom: 5px;
}

#user_info_edit_button {
  margin-top: 1.5rem;
}
