.today_jobs_index {
  margin-top: 2rem;
}

.today_jobs_guide {
  border-bottom: 1px solid #dddddd
}

.goal_title_in_today_jobs {
  font-size: 22px;
  padding-left: 1rem;
  /* margin-top: 2rem; */
  margin-bottom: 0;
}

.today_jobs_list {
  margin-top: 2rem;
}
